# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/test-results/
/playwright-report/
/playwright/.cache/
/coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
